{% extends 'base.html' %}

{% block styles %}
    {{ form.media.css }}
{% endblock %}

{% block content %}
    <p>
        Sum of your money: {{ user.amount }}$.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form }}

        <input type="submit" value="Save">
    </form>
{% endblock %}

{% block scripts %}
    {{ form.media.js }}
{% endblock %}
