{% load staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <meta name="author" content="Smeshnaya Anna">
        <title>{% block title %}{% endblock title %}</title>

        <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" media="all">
        {% block styles %}{% endblock %}
    </head>
    <body>
        <a href="{% url 'transfer-money' %}">перевести деньги</a>

        {% block content %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
